<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>{%=o.htmlWebpackPlugin.options.title || 'Title'%}</title>
	<meta description="{%=o.htmlWebpackPlugin.options.pkg.description || 'Description'%}">
	{% for (var css in o.htmlWebpackPlugin.files.css) { %}
	<link href="{%=o.htmlWebpackPlugin.files.css[css] %}" rel="stylesheet">{% } %}
</head>
<body>
	<header>
		<h1>{%=o.htmlWebpackPlugin.options.title || 'Title'%}</h1>
		<p class="description"></p>
	</header>
	<main>
		<section>
			<h2>devDependencies:</h2>
			<ul>{% for (var devDependency in o.htmlWebpackPlugin.options.pkg.devDependencies) { %}
				<li><strong>{%= devDependency %}</strong>: {%= o.htmlWebpackPlugin.options.pkg.devDependencies[devDependency] %}</li>{% } %}
			</ul>
		</section>

		<div id="devDependencies"></div>
		<div id="keywords"></div>
	</main>
	<footer>

	</footer>
	{% for (var chunk in o.htmlWebpackPlugin.files.chunks) { %}
	<script src="{%=o.htmlWebpackPlugin.files.chunks[chunk].entry %}"></script>{% } %}
	<!-- {%= o.htmlWebpackPlugin.options.pkg.name + ' v' + o.htmlWebpackPlugin.options.pkg.version %} -->
	<!-- {% var d = new Date(); print(d.getDate() + "." + (d.getMonth() + 1) + "." + d.getFullYear() + ' '); %} -->
</body>
</html>