<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>{%=o.htmlWebpackPlugin.options.title || 'Title'%}</title>
	<meta description="{%=o.htmlWebpackPlugin.options.pkg.description || 'Description'%}">
	{% for (var css in o.htmlWebpackPlugin.files.css) { %}
	<link href="{%=o.htmlWebpackPlugin.files.css[css] %}" rel="stylesheet">{% } %}
</head>
<body>
	<header>
		<h1>{{htmlWebpackPlugin.options.title}}</h1>
		<p class="description"></p>
	</header>
	<main>
		<div id="description"></div>
		<div id="devDependencies"></div>
	</main>
	<footer>

	</footer>
	{% for (var chunk in o.htmlWebpackPlugin.files.chunks) { %}
	<script src="{%=o.htmlWebpackPlugin.files.chunks[chunk].entry %}"></script>{% } %}
	<!-- {%= o.htmlWebpackPlugin.options.pkg.name + ' v' + o.htmlWebpackPlugin.options.pkg.version %} -->
	<!-- {% var d = new Date(); print(d.getDate() + "." + (d.getMonth() + 1) + "." + d.getFullYear() + ' '); %} -->
</body>
</html>